section.new-tweet{
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 10px;
  margin:0 auto;
  padding-right: 7px;
  padding-left: 7px;
  height:11em;
}

.new-tweet > form > textarea{
  width:90%;
  margin-left: 1em;
  padding-bottom: 15px;
}

.new-tweet > h2{
  font-size: 40px;
  border-bottom: 1px solid;
}

.new-tweet > form > span {
  float: right;
  padding-right: 25px;
}

.new-tweet > form > input{
  margin-left: 16px;
}

.red-text{
  color: red;
}

.black-text{
  color: black;
}